body {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-weight: bold;
}

.move {
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 100%;
    border: 3px solid white;
    margin-right: 40px;
    text-decoration: none;
    background-color: black;
    display: inline-block;
    position: relative;
}

.move > img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    position: absolute;
    left: 30px;
    top: 15px;
}

.pick-emoji {
    width: 80px;
    height: 80px;
}

.move > img:hover {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 20px;
    top: 6px;
}

.reset-button {
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}

p {
    color: white;
    font-size: 18px;
}
