body {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.content-container {
    margin-top: 10%;
}

h1 {
    color: white;
    font-weight: bold;
}

.js-rock,
.js-paper,
.js-scissors {
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 100%;
    border: 3px solid white;
    margin-right: 40px;
    text-decoration: none;
    background-color: black;
    display: inline-block;
    position: relative;
}

.js-paper > img,
.js-scissors > img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    position: absolute;
    left: 33px;
    top: 20px;
}

.js-rock > img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    position: absolute;
    left: 30px;
    top: 15px;
}

.pick-emoji {
    width: 80px;
    height: 80px;
}

.js-rock > img:hover {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 23px;
    top: 5px;
}

.js-paper > img:hover,
.js-scissors > img:hover {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 23px;
    top: 10px;
}

.reset-button {
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}

p {
    color: white;
    font-size: 18px;
}
